<% if @tweet.errors.present? %>
  <div class="error">
    <h3>空白または140字以上はツイート出来ません</h3>
    <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<h1>内容編集</h1>
<%= form_for @tweet, url: {action: :update} do |f| %>
  <%= f.label :message, '呟きたいことを書いてね'%>
  <%= f.text_field :message %>
  <br>
  <%= f.submit 'ツイートする'%>
<% end %>