
<div class="container">
  <div class="content-profile">
    <h2 class="display_name">近畿大学</h2>
    <p class="user_name">@kinkidaigakuPR</p>
    <p class="description">
      近畿大学のTwitter公式アカウントです。
      気象警報による休講情報や、お得なランチ情報など、大学に関する情報を発信します。
      マグロに関するツイート多め🐟学生のみなさんの相談に乗りますので、くだらないことも気軽に話しかけてください。
      履修に関するご質問は所属学部。入試に関するご相談は、入学センターへお問い合わせ下さい。
    </p>
    <p class="links">大阪府東大阪市</p>
    <p class="links"><%= link_to 'instagram.com/kindaiuniversity', 'https://instagram.com/kindaiuniversity' %></p>
    <p class="links">2010年12月に登録</p>
    <%= link_to 'ツイート', new_tweet_path, class: 'action-btn' %>
    <%= link_to 'ダイレクトメッセージ', "#/", class: 'action-btn' %>
  </div>
  <div class="content-timeline">
    <div class="timeline-header">
      <%= link_to 'ツイート', '#', class: 'navigation active' %>
      <%= link_to 'ツイートと返信', '#', class: 'navigation' %>
      <%= link_to 'メディア', '#', class: 'navigation' %>
    </div>
    <% @tweets.each do |tweet| %>
      <div class="timeline-card">
        <div class="timeline-card-icon">
          <img src="hirune_soto_schoolgirl.png">
        </div>
        <div class="timeline-card-body">
          <span class="display_name">近畿大学</span>
          <span class="user_name">@kinkidaigakuPR</span>

          <p>
            <%= tweet.message %>
          </p>
          <%= link_to '表示', tweet_path(tweet.id) %>
          <%= link_to '編集', edit_tweet_path(tweet.id) %>
          <%= link_to '削除', "tweets/#{tweet.id}", method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
